<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center">
  <mat-card fxFlex="40" fxFlex.md="70" fxFlex.lt-md="90">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="center">
        <mat-form-field appearance="outline" fxFlex="45">
          <mat-label>Commander</mat-label>
          <input matInput [type]="'text'"
                 name="commander" [(ngModel)]="form.commander"
                 #commander="ngModel">
        </mat-form-field>
        <mat-form-field *ngIf="form.partner_commander" appearance="outline" fxFlex="45">
          <mat-label>Partner</mat-label>
          <input matInput [type]="'text'"
                 name="partner_commander" [(ngModel)]="form.partner_commander"
                 #partner_commander="ngModel">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" style="margin-left: 20px">

      </div>
    </form>
  </mat-card>
</div>
