<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center">
  <mat-card fxFlex="40" fxFlex.md="70" fxFlex.lt-md="90">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="center">
      <mat-form-field fxFlex="45">
        <input matInput placeholder="{{current_deck.commander}}" >
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" style="margin-left: 20px">
      <mat-form-field fxFlex="45">
        <input matInput placeholder="{{current_deck.commander}}" >
      </mat-form-field>
    </div>
  </mat-card>
</div>
