<div fxLayout="column" fxFlexFill style="margin: 20px;">
  <div *ngIf="loading" fxLayout="row" fxFlex="100" fxLayoutAlign="center center" >
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="center" fxFlex>
    <div fxLayout="column" fxLayoutAlign="center">
      <mat-card *ngIf="ratingChartData" fxflex style="height: 100%">
        <mat-card-content fxLayout="row" fxLayoutAlign="center center" fxFlex>
          <canvas baseChart style="height: 200px;"
                  [data]="ratingChartData"
                  [options]="ratingChartOptions"
                  [plugins]="ratingChartPlugins"
                  [legend]="ratingChartLegend"
                  [type]="'bar'">
          </canvas>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="column">
      <mat-card *ngIf="colorCountChartDatasets" fxFlex>
        <mat-card-content fxLayout="row" fxLayoutAlign="center">
          <div style="display: block">
            <canvas baseChart
                    [labels]="colorCountChartLabels"
                    [datasets]="colorCountChartDatasets"
                    [options]="colorCountChartOptions"
                    [legend]="false"
                    [type]="'doughnut'">
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="column">
      <mat-card *ngIf="themeChartData" fxFlex style="width: 750px">
        <mat-card-content fxLayout="row" fxLayoutAlign="center center" fxFlex style="width: 100%">
          <canvas baseChart style="height: 200px; width: 100%"
                  [data]="themeChartData"
                  [options]="themeChartOptions"
                  [plugins]="themeChartPlugins"
                  [legend]="themeChartLegend"
                  [type]="'bar'">
          </canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="counting_cards" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!counting_cards" fxLayout="row wrap" fxFlex="100" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="center" style="margin-top: 20px">
    <div *ngFor="let card of top_cards" fxLayout="column" fxLayoutAlign="center" style="margin: 10px">
      <div *ngIf="!card.image_back">
        <div>
          <img src="{{card.image}}" class="mtg-card" alt="{{card.card}}">
        </div>
      </div>
      <div *ngIf="card.image_back">
        <div>
          <div class="partner-holder">
            <div class="partner-left">
              <img src="{{card.image_back}}" class="mtg-card" alt="{{card.card}}">
            </div>
            <div class="partner-right">
              <img src="{{card.image_url}}" class="mtg-card" alt="{{card.card}}">
            </div>
          </div>
        </div>
      </div>
      <p style="text-align: center">{{card.percent | percent: '2.0-0'}} of {{counted_decks}} decks</p>
    </div>
  </div>
</div>
