<div *ngIf="loading" fxLayout="row" fxFlex="100" fxLayoutAlign="center center" style="margin: 20px;">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="center" style="margin: 20px">
  <mat-card *ngIf="ratingChartData" fxflex>
    <mat-card-content fxLayout="row" fxLayoutAlign="center">
      <div style="display: block; margin: 10px">
        <canvas baseChart style="height: 200px;"
                [data]="ratingChartData"
                [options]="ratingChartOptions"
                [plugins]="ratingChartPlugins"
                [legend]="ratingChartLegend"
                [type]="'bar'">
        </canvas>
      </div>
    </mat-card-content>
  </mat-card>
  &nbsp;
  <mat-card *ngIf="colorCountChartDatasets" fxFlex>
    <mat-card-content fxLayout="row" fxLayoutAlign="center">
      <div style="display: block">
        <canvas baseChart
                [labels]="colorCountChartLabels"
                [datasets]="colorCountChartDatasets"
                [options]="colorCountChartOptions"
                [legend]="false"
                [type]="'doughnut'">
        </canvas>
      </div>
    </mat-card-content>
  </mat-card>
</div>
