<div class="container-fluid" style="margin-top: 20px;">
  <div class="row justify-content-center">
    <div class="col-auto">
      <mat-card class="commander-viewer">
        <div class="commander-background-card">
          <img src="assets/adrix.jpg" class="commander-crop">
        </div>
        <mat-card-content class="commander-content">
          <h2>Adrix and Nev, Twincasters</h2>
          <h4 class="deck-title">Test Deck</h4>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
