<div class="container-fluid" style="margin-top: 20px;">
  <div class="row justify-content-center">
    <div *ngFor="let deck of decks" class="col-auto" style="margin: 10px 0 10px 0">
      <mat-card class="commander-viewer">
        <div [ngClass]="{'commander-background-card-closed': deck.hovered, 'commander-background-card-open': !deck.hovered}">
          <img src="{{deck.image_url}}" class="commander-crop">
          <button class="commander-edit" mat-icon-button><mat-icon>edit</mat-icon></button>
        </div>
        <div class="commander-background-themes" [ngClass]="{'commander-background-themes-in': deck.hovered}">
          <div class="container-fluid">
            <div class="row">
              <div *ngFor="let theme of deck.themes" class="col-6">{{theme.name}}</div>
            </div>
          </div>
        </div>
        <mat-card-content class="commander-content" (mouseenter)="deck.hovered=true;" (mouseleave)="deck.hovered=false;">
          <div class="commander-content-holder">
            <h2>{{deck.friendly_name}}</h2>
            <h4 class="commander-name">{{deck.commander}}</h4>
            <h4 *ngIf="deck.partner_commander" class="commander-name">{{deck.partner_commander}}</h4>
            <div fxLayout="row" fxLayoutAlign="center" class="commander-colors">
              <!--          <img class="commander-color" src="assets/color_symbols/W.png">-->
              <img class="commander-color" src="assets/color_symbols/U.png">
              <!--          <img class="commander-color" src="assets/color_symbols/B.png">-->
              <!--          <img class="commander-color" src="assets/color_symbols/R.png">-->
              <img class="commander-color" src="assets/color_symbols/G.png">

            </div>
            <div fxLayout="row" fxLayoutAlign="center" class="commander-ratings">
              <mat-icon *ngFor="let i of [].constructor(deck.play_rating)" class="commander-rating" color="primary">star</mat-icon>
            </div>
          </div>
        </mat-card-content>

      </mat-card>

    </div>
  </div>
</div>
