<div class="mat-typography mat-app-background">
  <h1>Angular Material Theming System: Complete Guide</h1>
  <button
    mat-icon-button
    (click)="toggleDarkTheme()"
    class="theme-toggle"
    aria-label="Toggle Dark Theme"
  >
    <mat-icon>{{ isDark ? "dark_mode" : "light_mode" }}</mat-icon>
  </button>

  <link rel="stylesheet" href="/src/dark-theme.scss" *ngIf="isDark">
  <link rel="stylesheet" href="/src/light-theme.scss" *ngIf="!isDark">

  <div class="demo-buttons">
    <button mat-raised-button color="primary" (click)="onSetTheme('default-theme')">Default</button>
    <button mat-raised-button color="primary" (click)="onSetTheme('dark-theme')">Dark</button>
    <button mat-raised-button color="primary" (click)="onSetTheme('light-theme')">Light</button>
  </div>
</div>
